@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0; padding: 0; box-sizing: border-box;
}
 body {
   background: black;
 }

 .header {
     width: 80rem;
     padding-left: 10rem;
     padding-top: 5rem;
     display: flex;
     flex-wrap: wrap;
 }
 h1 {
     color: lightgrey;
     font-family: 'Libre Baskerville', serif;
     font-size: 4rem;
     flex: 50%;
 }

 .header p {
     color: lightgrey;
     font-family: 'Libre Baskerville', serif;
     padding-top: 10rem;
     font-size: 2rem;
     line-height: 3rem;
     flex:50%;

 }

 @media screen and (max-width: 1200px) {
     .header {
         display: flex;
         width: 600px;
     }
     h1 {
         height: 100px;
         width: 500px;
         font-size: 3rem;
         flex:100%;
     }

     .two{
         position: absolute;
         left: 0;
         flex: 100%
     }
     
 }

@media (max-width:600px) {
    .header {
        display: block;
        width: 300px;
        padding-left: 80px;
    }
    h1 {
        font-size: 4rem;
    }
    .header p {
        font-size: 2rem;
        padding-top: 0;
        width: 300px;
    }
}

 .mainnav a {
    text-decoration: none;
    color: rgb(186, 186, 186);
    font-family: 'Libre Baskerville', serif;
    float: right;
    padding: 1rem;
    transition: all .3s ease-in-out;
  }
 
  .mainnav a:hover {
    color: white;
    text-shadow: 0 0 .1rem;
  }

  p {
      color: lightgrey;
      font-family: 'Libre Baskerville', serif;
      line-height: 2rem;
     
  }

  .images {
      padding-top: 20rem;
      max-width: 1000px;
      margin:auto;  
      
  }

  .images div {
      padding: 5rem;
  }

  .images img {
      width: 100%;
      max-width: 1000px;
      min-width: 300px;
  }

  .images p {
      font-size: 1.5em;
      word-wrap: break-word;
      line-height: 3rem;
  }

  .inner {
      position: fixed;
      left: 10px;
      width: 10px;
      height: 10px;
      transform: translate(-50%, -50%);
      background-color: white;
      mix-blend-mode: difference;
      border-radius: 50%;
      pointer-events: none;
      transition: width 0.5s, height 0.5s;
  }

  .inner.grow {
      width: 25px;
      height: 25px;
      transition: width 0.5s, height 0.5s;
  }

  .outer {
      position: fixed;
      left: 10px;
      width: 25px;
      height: 25px;
      transform:translate(-50%, -50%);
      border: 1px solid #fff;
      mix-blend-mode: difference;
      border-radius: 50%;
      pointer-events: none;
      transition: 0.1s
  }
  
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 80%);
    display: none;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }