@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0; padding: 0; box-sizing: border-box;
}
 body {
   background: black;
 }

 .header {
     padding-left: 10rem;
     padding-top: 5rem;
     display: flex;
     flex-wrap: wrap;
 }
 h1 {
     color: lightgrey;
     font-family: 'Libre Baskerville', serif;
     font-size: 4rem;
     flex: 50%;
 }

 .header p {
     color: lightgrey;
     font-family: 'Libre Baskerville', serif;
     padding-top: 10rem;
     font-size: 2rem;
     line-height: 3rem;
     flex:50%;

 }

 @media screen and (max-width: 1200px) {
     .header {
         display: flex;
         width: 600px;
     }
     h1 {
         height: 100px;
         width: 500px;
         font-size: 3rem;
         flex:100%;
     }

     .two{
         position: absolute;
         left: 0;
         flex: 100%
     }
     
 }

@media (max-width:600px) {
    .header {
        display: block;
        width: 300px;
        padding-left: 80px;
    }
    h1 {
        font-size: 4rem;
    }
    .header p {
        font-size: 2rem;
        padding-top: 0;
        width: 300px;
    }
}

 .mainnav a {
    text-decoration: none;
    color: rgb(186, 186, 186);
    font-family: 'Libre Baskerville', serif;
    float: right;
    padding: 1rem;
    transition: all .3s ease-in-out;
  }
 
  .mainnav a:hover {
    color: white;
    text-shadow: 0 0 .1rem;
  }

  p {
      color: lightgrey;
      font-family: 'Libre Baskerville', serif;
      line-height: 2rem;
     
  }

  img {
    width: 100%;
    max-width: 500px;
  }

  .contact {
    padding-left: 10rem;
    padding-top: 5rem;
    font-size: 1.5rem;
    padding-bottom: 5rem;
  }