@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0; padding: 0; box-sizing: border-box;
}
 body {
   background: black;
 }

 .gallery-main {
   max-width: 700px;
   display: flex;
   flex-wrap: wrap;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .gallery-main img {
   width: 200px;
   height: 200px;
   margin: .2rem;
   -webkit-transform: scale(1) grayscale(100%);
   filter: grayscale(100%);
   transform: scale(1);
   -webkit-transition: .3s ease-in-out;
   transition: .3s ease-in-out;
 }

 .gallery-main a:hover img{
   -webkit-filter: grayscale(0);
   filter: grayscale(0);
   -webkit-transform: scale(1.3);
	 transform: scale(1.3);
 }

 .mainnav a {
   text-decoration: none;
   color: rgb(186, 186, 186);
   font-family: 'Libre Baskerville', serif;
   float: right;
   padding: 1rem;
   transition: all .3s ease-in-out;
 }

 .mainnav a:hover {
   color: white;
   text-shadow: 0 0 .1rem;
 }